// Font Families
$font-primary: "Audiowide", sans-serif;
$font-secondary: "Sansation", sans-serif;
$font-light: "Sansation Light", sans-serif;

// Font Sizes
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 24px;
$font-size-xl: 32px;
$font-size-xxl: 58px;